.app{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 0;
}
.header{
  width: 100%;
  text-align: center;
  background-color: lightslategray;
  padding: 14px;
}
.form{
margin-top: 20px;
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;

}
.data_val{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0px 9px 0px 9px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}